.hero {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-color: #141D2F;
    background-image: url('/28. Hero Background.png');
    background-position: center 50%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    margin-top: 80px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 60px;
    position: relative;
    z-index: 2;
}

.hero-text {
    flex: 1;
    max-width: 500px;
}

.greeting {
    margin-bottom: 20px;

    .vertical-text {
        color: #FFFFFF;
        font-size: 64px;
        font-weight: 400;
        letter-spacing: 0%;
        text-transform: uppercase;
        margin: 0;
        rotate: -90deg;
    }
}

.hero-title {
    margin: 0 0 40px 0;
    text-align: center;

    .name {
        display: block;
        font-size: 90px;
        font-weight: 700;
        color: #ffffff;
        line-height: 1.2;
        font-style: bold;
        margin: 0 0 10px 0;
    }

    .role {
        display: block;
        font-size: 58px;
        font-weight: 400;
        color: #9747FF;
        letter-spacing: 0%;
        line-height: 1.2;
        text-transform: uppercase;
        margin: 0;
    }
}

.cta-section {
    margin-bottom: 60px;
    display: flex;
    justify-content: center;

    .btn {
        font-size: 16px;
        padding: 15px 30px;
        animation: pulse 2s infinite;
        background: #70E61C;
        color: #FFFFFF;
        text-decoration: none;
        border-radius: 10px;
        font-weight: 500;
        transition: all 0.3s ease;
        display: inline-block;

        &:hover {
            transform: translateY(-2px);
            box-shadow: 0 5px 15px rgba(112, 230, 28, 0.3);
        }
    }
}