* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #141d2f;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    overflow-x: hidden;
}